*{
  box-sizing:border-box;
  font-family:'Segoe UI',sans-serif;
}
body{
  margin:0;
  background:#f7f4fb;
  color:#333;
}

/* HEADER */
header{
  background:#b57edc;
  color:white;
  padding:25px 20px;
  text-align:center;
}
header h1{margin:0;}
header p{margin:5px 0 0;font-size:14px;}

/* HERO */
.hero{
  max-width:1100px;
  margin:auto;
  #padding:40px 20px;
  display:flex;
  flex-wrap:wrap;
  gap:30px;
  padding:30px 20px 20px;
}

/* LEFT CONTENT */
.hero-left{
  flex:1;
  min-width:260px;
}
.hero-left h2{
  color:#7a4fa3;
}
.hero-left ul{
  padding-left:18px;
}

/* LOGIN */
.login-card{
  width:320px;
  background:white;
  padding:25px;
  border-radius:10px;
  box-shadow:0 8px 20px rgba(0,0,0,0.12);
}
.login-card h3{
  text-align:center;
  color:#7a4fa3;
}
.login-card input{
  width:100%;
  padding:10px;
  margin:8px 0;
}
.login-card button{
  width:100%;
  padding:10px;
  background:#b57edc;
  border:none;
  color:white;
  cursor:pointer;
}
h2 {
  margin-top: 0;
  margin-bottom: 12px;
}

/* SECTION */
.section{
  
  max-width:1100px;
  margin:20px auto;
  padding:5px 10px;
}
.section h2{
  color:#7a4fa3;
  margin-bottom:15px;
}

/* PROGRAMS */
.programs{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:15px;
}
.program-box{
  background:white;
  padding:15px;
  border-left:5px solid #b57edc;
  box-shadow:0 4px 10px rgba(0,0,0,0.08);
  cursor: pointer;
  transition: all 0.25s ease;
}

.program-box:hover{
  background:#f2eafa;
  transform: translateY(-2px);
  box-shadow:0 8px 18px rgba(0,0,0,0.15);
}


/* ACHIEVER SLIDE (ONE BLOCK ONLY) */
.achiever-box{
  background:white;
  padding:20px;
  border-radius:8px;
  box-shadow:0 6px 15px rgba(0,0,0,0.12);
  max-width:400px;
}
.achiever-box img{
  width:100%;
  height:200px;
  object-fit:cover;
  border-radius:6px;
}

/* COMMENTS */
.comments{
  background:white;
  padding:20px;
  border-radius:8px;
  box-shadow:0 6px 15px rgba(0,0,0,0.12);
}
.comment{
  border-bottom:1px solid #eee;
  padding:10px 0;
}
.comment:last-child{border:none;}
.comment strong{color:#7a4fa3;}

footer{
  background:#b57edc;
  color:white;
  text-align:center;
  padding:15px;
  margin-top:30px;
}